
<section class="grid grid-col-1 md:grid-cols-2 gap-3">
  <div class="flex gap-4 justify-between items-center bg-white rounded-xl shadow p-10">
    <div>
      <h1 class="text-2xl font-bold mb-2">if: {{ showContent() }}</h1>

      <button class="bg-teal-300 text-white p-2 rounded-lg shadowhover:bg-white/5 transition ease-linear duration-150"
        (click)="toggleContent()"
      >
        Click XD
      </button>
      <hr>
    </div>

    @if( showContent() ){
      <h1>Hola</h1>
    } @else {
      <p>Otra opcion no hola</p>
    }
  </div>
<!-- Switch -->
  <div class="flex gap-4 justify-between items-center bg-white rounded-xl shadow p-10">
    <pre>Nota:
      <h5 class="text-4xl">{{ grade() }}</h5>
    </pre>
    <div>
      @switch (grade()) {
        @case ('A') {
          <p>Arriba de 90</p>
        }
        @case ('B') {
          <p>Arriba de 80</p>
        }
        @case ('F') {
          <p>Reprobado</p>
        }
        @default {
          <p>Extraoirdinario por burro</p>
        }
      }


    </div>
  </div>
</section>
